@tailwind base;
@tailwind components;
@tailwind utilities;


html{
  /* background-image: linear-gradient(rgb(195, 56, 195), rgb(131, 60, 131)) */
  
  
  background-color: #89d4cf;
  background-image: linear-gradient(315deg, #89d4cf 0%, #6e45e1 74%);


}

body{
  min-height: 100vh;
}


.arrows{
  border-radius: 5px;
  

  
 
  /* background-color: rgb(180, 217, 231); */
  font-size: 75px;
  color: rgb(208, 133, 207);
  
}

.prevArrow{
  /* padding-left: .5rem; */
  padding-right: .5rem;
}

.nextArrow{
  /* padding-right: .5rem; */
  padding-left: .5rem;
}

.coverContainer{
  align-items: center;
  justify-content: center;
  height: 720px;
  width: 540px;
  display: flex;
  flex-direction: row;
}


.cover{
  display: flex;
  object-fit: cover;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  border-radius: 25px;
  /* border: 2px solid rgb(227, 164, 236); */
  @apply border-2 border-purple-200
}



.covers{
  display: flex;
  /* flex-direction: column; */
  /* flex-direction: row; */
  align-items: center;
  justify-content: center;

  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  
}

.outerLoginBox{
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 70vh;
  align-items: center;
  
  margin: auto;
  margin-top: 75px;
  border: 2px solid rgb(86, 48, 116);
  border-radius: 15px;


  background-color: rgba(224, 224, 224, 0.5);
}

.loginForm{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  width: 100%;
}


.usernameDiv, .passwordDiv{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
}

.usernameTitle, .passwordTitle{
  display: flex;
  align-items: center;
  font-size: 20px;
  margin-left: 35px;
}

.usernameEntry, .passwordEntry{
  
  width: 65%;
  height: 35px;
  border-radius: 15px;
  padding: 7px;
  margin-right: 35px;
}

.usernameEntry::placeholder, .passwordEntry::placeholder{
  color: rgba(177, 177, 177, 0.75);
  font-style: italic;
}

.loginTitle{
  margin-top: 45px;
  font-size: 24px;
  padding: 5px;
  padding-right: 125px;
  padding-left: 125px;
  border: 1px solid black;
  border-radius: 15px;
}

.submitButton{

  width: 25%;
  height: 15%;
  font-size: 20px;
  @apply border-black rounded-2xl;
  border: 1px solid black;
  background-color: rgba(243, 234, 247, 0.5);
}

.submitButton:hover{
  background-color: rgba(201, 201, 213, 0.5);
}

.navBar{
  display: flex;
  flex: 1;

}

.navBarOptions{

  @apply border-2 bg-transparent hover:bg-purple-400 text-pink-200 border-blue-300 
  border-r-0 hover:text-black text-lg;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 100%; */
  flex: 1;
}


.dropdown{
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
  
}

.dropdown-content{
  @apply border-2 border-t-0 border-blue-300 rounded-b-2xl;
  display: none;
  position: absolute;
  min-width: 100%;
  overflow: auto;
  top: 55px;
  
  
}


.dropdown-content a{
  @apply border-2 hover:bg-gray-300 border-blue-300 text-pink-200 italic font-medium pl-1 pt-1;
  background-color: #6e45e1;
  border-width: .5px;
  height: 35px;
  
  display: block;
  
}

.show{
  display: block;
}

#account{
  @apply border-r-2;
}

.searchItems{
  @apply bg-white text-black pl-2;
  position: relative;
}

.searchIcon{
  @apply text-xl;
  position: absolute;
  top: 17px;
  right: 260px;
}


.top15{
  @apply h-auto flex pt-2 ml-2;
  padding-left: 3px;
  width: 370px;

}


.top15Title{
  @apply text-3xl text-pink-100 bg-purple-400 flex h-max w-full items-start justify-center italic rounded-full border-2 border-blue-300;
  
}

.top15Games{
  @apply flex-col justify-around h-full w-full;
  
  
}

.top15Game{
  @apply flex text-base text-pink-200 hover:bg-purple-400 rounded-md italic border-b-2 border-r-2 border-l-2 border-blue-300;
  padding-left: 3px;
  
}

.top15Game:hover{
  @apply font-bold
}

.stats{
  @apply flex w-96 p-4 rounded-md mr-2;
  max-height: 720px;
  overflow-y: scroll;
  
  background-color: rgba(0, 0, 0, .25);
  width: 370px;
  
}





.summary{
  height: 210px;
  /* overflow: hidden;
  text-overflow: ellipsis; */
}

input::placeholder{
  color: black;
}




.home{
  @apply flex flex-row mt-4 mb-4;
  
}

.chosenGame{

  min-height: 100%;
}

.genreGameTitle{
  max-width: 260px;
  
}

.genreGame{
  max-width: 260px;
  @apply my-4 ml-3 border-2 border-blue-200 rounded-lg;
}

.genreGame:hover{
    cursor: pointer;
}




.genreGamePicture{
  @apply rounded-md;
}

.genreGameTitle{
  
  @apply text-purple-200 pl-1 text-lg italic;
  background-color: rgba(42, 39, 39, 0.25);
}

.startButton{
  
  @apply text-purple-200 pl-1 text-lg italic;
  background-color: rgba(42, 39, 39, 0.25);
}

.chosenGenreGameTitle{
  display: flex;
  @apply justify-center items-center;
  min-width: 540px;
}

.chosenGenrePage{
  display: flex;
  min-height: 100vh;
}

.genrePage{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  
  min-height: 100vh;
  /* display: flex; */
}

.toggleDisplay{
  display: flex;
  justify-content: space-around;
  align-items:center;
}


.guessGameContainer {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 20px;
}

/* Guess Game Title */
.guessGameTitle {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  @apply text-blue-300
}


/* Guess Game Tries */
.guessGameTries {
  @apply text-blue-300 border-2 p-2 border-pink-200 rounded-3xl;
  font-size: 16px;
  margin-bottom: 10px;
}

/* Guess Game Guess */
.guessGameGuess {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Guess Game Keyboard */
.guessGameKeyboard {
  display: inline-block;
  border: 2px solid #ccc;
  padding: 10px;
  margin: 10px;
}

/* Guess Game Keys */
.guessGameKey {
  font-size: 18px;
  padding: 5px 10px;
  margin: 5px;
  cursor: pointer;
}

.guessGameKey:hover {
  background-color: #e0e0e0;
}

/* Guess Game Hints */
.guessGameHints {
  font-size: 24px;
  margin-top: 20px;
}

/* Guess Game Companies */
.guessGameCompaniesButton {
  font-weight: bold;
  cursor: pointer;
}
.guessGameCompaniesName {
  font-weight: bold;
  cursor: pointer;
}


.guessGameGenre {
  font-weight: bold;
  cursor: pointer;
}

/* Guess Game Result */
.displayResult {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
}

.guessGame{
  margin: 25px;
  margin-top: 10vh;
  padding: 10px;
  @apply flex flex-col items-center border-2 border-pink-200 rounded-3xl;
  justify-content: center;

}

.guessChar{
    padding: 4px;
}

.loggedinBox{
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  padding-bottom: 50px;
  padding-top: 50px;

}

.loggedinInfo{

  font-size: 30px;

}

.logoutButton{

  height: 15%;
  font-size: 20px;
  @apply border-black rounded-2xl;
  border: 1px solid black;
  background-color: rgba(243, 234, 247, 0.5);
}

.logoutButton:hover{
  background-color: rgba(201, 201, 213, 0.5);
}


.registerButton{
  position: fixed;
  top: 12%;
  right: 3%;
  border: 1px solid black;
  padding: 4px;
  height: 5vh;
  width: 5%;
  background-color: rgba(243, 234, 247, 0.5);
  @apply rounded-2xl;
}

.registerButton:hover{
  background-color: rgba(201, 201, 213, 0.5);
}