@tailwind base;
@tailwind components;
@tailwind utilities;


html{
  background-image: linear-gradient(rgb(229, 122, 229), rgb(164, 49, 164))
}


.arrows{
  border-radius: 5px;
  border: none;
  
 
  /* background-color: rgb(180, 217, 231); */
  font-size: 75px;
  color: rgb(208, 133, 207);
}

.prevArrow{
  padding-right: 1rem;
}

.nextArrow{
  padding-left: 1rem;
}

.coverContainer{
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}


.cover{
  display: flex;
  object-fit: cover;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  border-radius: 25px;
  border: 2px solid rgb(227, 164, 236);
  
}



.covers{
  display: flex;
  /* flex-direction: column; */
  /* flex-direction: row; */
  align-items: center;
  justify-content: center;
  height: 720px;
  width: 540px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  
}

.navBar{
  display: flex;
  flex: 1;

}

.navBarOptions{

  @apply border-2 bg-transparent hover:bg-purple-300 text-pink-100 border-pink-300 
  border-r-0 hover:text-black;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

#account{
  @apply border-r-2;
}

.searchItems{
  @apply bg-white text-black;
}


/* #homePage {
  padding-left: 50px;
}

.navBarOptionsL{
  
  padding-right: 75px;
}

.navBarOptionsR{
  padding-left: 75px;
} */


