@tailwind base;
@tailwind components;
@tailwind utilities;

button {
  background: none;
  border: none;
  
}

.coverContainer{
  width: 100%;
  height: 100%;
}


.cover{
  display: flex;
  object-fit: cover;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  border-radius: 25px;
  
}



.covers{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 540px;
  width: 405px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5em;
  
}




.navBar{
  display: flex;
  flex: 1;
}

.navBarOptions{
  /* padding-top: 25px; */
  font-size: 14px;
  margin-top: 25px; 
  display: flex;
  flex: 1;
}

#homePage {
  padding-left: 50px;
}

.navBarOptionsL{
  
  padding-right: 75px;
}

.navBarOptionsR{
  padding-left: 75px;
}

.display{
  display: flex;
  flex-direction: row;
  height: 75vh;
  align-items: center;
  justify-content: center; 
}
